.rotate.active {
  transform: translateY(-100px) translateX(40px) rotate(180deg);
  opacity: 0.5;
  transition: 800ms ease-in-out;
  transition-delay: 300ms;
}
.rotate.deactive {
  transform: translateY(0) translateX(0) rotate(0);
  opacity: 1;
}
.left_right.active {
  transform: translateX(-100px);
  opacity: 0;
  transition: 700ms ease-in-out;
}
.left_right.deactive {
  transform: translateX(0);
  opacity: 1;
}
.left_right:nth-child(1) {
  transition-delay: 300ms;
}
.left_right:nth-child(2) {
  transition-delay: 400ms;
}
.left_right:nth-child(3) {
  transition-delay: 500ms;
}
.left_right:nth-child(4) {
  transition-delay: 600ms;
}

.grid_items.active {
  opacity: 0;
  transition: 900ms ease-in-out;
}
.grid_items:nth-child(1) {
  transform: translateX(-100px);
  transition-delay: 200ms;
}
.grid_items:nth-child(2) {
  transform: translateX(-100px);
}
.grid_items:nth-child(3) {
  transform: translateY(-150px);
}
.grid_items:nth-child(3) {
  transform: translateX(150px);
}
.grid_items:nth-child(4) {
  transform: translateY(-120px);
}
.grid_items:nth-child(5) {
  transform: translateX(0);
}
.grid_items:nth-child(6) {
  transform: translateY(150px);
}
.grid_items:nth-child(7) {
  transform: translateX(150px);
}
.grid_items:nth-child(8) {
  transform: translateY(150px);
}
.grid_items.deactive {
  opacity: 1;
  transform: translateX(0);
}
.spin.active {
  transform: rotate(-130deg);
  transition: 900ms ease-in-out;
  transition-delay: 300ms;
}
.spin.deactive {
  transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
  .grid_items.active {
    opacity: 0;
    transition: 400ms ease-in-out;
  }
  .grid_items:nth-child(1) {
    transform: translateX(-100px);
  }
  .grid_items:nth-child(2) {
    transform: translateX(-100px);
    transition-delay: 100ms;
  }
  .grid_items:nth-child(3) {
    transform: translateX(-100px);
    transition-delay: 200ms;
  }
  .grid_items:nth-child(3) {
    transform: translateX(-100px);
    transition-delay: 300ms;
  }
  .grid_items:nth-child(4) {
    transform: translateX(-100px);
    transition-delay: 500ms;
  }
  .grid_items:nth-child(5) {
    transform: translateX(-100px);
    transition-delay: 600ms;
  }
  .grid_items:nth-child(6) {
    transform: translateX(-100px);
    transition-delay: 800ms;
  }
  .grid_items:nth-child(7) {
    transform: translateX(-100px);
    transition-delay: 900ms;
  }
  .grid_items:nth-child(8) {
    transform: translateX(-100px);
    transition-delay: 1000ms;
  }
  .grid_items.deactive {
    opacity: 1;
    transform: translateX(0);
  }
}
